.header {
    display: block;
    margin: 0;
    background-color: hsl(132, 77%, 75%);
}

.form {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.input {
    padding: 10px;
    color: black;
    font-size: medium;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid aliceblue;
    background-color: aliceblue;
}

.btn:hover {
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 3px;
}

/* .btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

