.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 1440px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    width: 1005;
    flex-basis: calc((100%-60px)/4);
}